.aside-filter ul {
  padding-left: 0;
  list-style: none;
  margin: 0px; }

.aside-item {
  padding-top: 15px; }

aside.aside-item + .aside-item {
  border-top: 1px solid #eee;
  margin-top: 15px; }

.aside-title a:hover {
  color: var(--primary-color); }

.aside-content {
  position: relative;
  clear: left;
  font-size: 14px;
  padding: 0; }
  .aside-content:last-child {
    border-bottom: none; }
  .aside-content .nav-item {
    position: relative; }
  .aside-content .nav-item > a {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7;
    padding: 5px 30px 2px 0px; }
    .aside-content .nav-item > a:hover {
      color: var(--primary-color); }
  .aside-content .dropdown-menu a {
    font-weight: 400; }
  .aside-content .fa {
    cursor: pointer;
    display: inline;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 1;
    width: 30px;
    text-align: center;
    font-size: 14px; }
  .aside-content .active > .dropdown-menu {
    display: block; }
  .aside-content .dropdown-menu {
    width: 100%;
    border: 0;
    padding: 0px;
    padding-left: 15px;
    box-shadow: none;
    margin-top: 0px;
    position: static;
    background: none; }
  .aside-content:hover > a {
    color: #333;
    background-color: transparent; }
  .aside-content ul > li:before {
    top: 17px;
    left: 15px; }

@media (max-width: 991px) {
  .sidebar {
    order: 1;
    border-top: 10px solid #f4f4f4; } }

.sidebar {
  border-right: 1px solid #eee;
  padding-bottom: 1.25rem; }

.content-blog .blogwp + .blogwp {
  border-top: 1px solid #eee !important; }
  @media (max-width: 767px) {
    .content-blog .blogwp + .blogwp {
      padding-top: 1.25rem; } }

.content-blog .blogwp .card-body {
  padding-right: 0px;
  padding-left: 0px; }

a.button_custome_35.link {
  color: var(--primary-color); }

.image-blog img {
  border-radius: 10px; }

@media (min-width: 768px) {
  /*.content-blog	.blogwp{
	flex-direction: row;

}
	.content-blog	a.image-blog{
	flex: 0 0 240px;
	padding: 1.25rem;
}*/
  .sidebar .blogwp.media .image-blog {
    width: 75px; }
  .sidebar .blogwp h3, .sidebar .blogwp h3 a.link {
    font-size: 14px; } }

.pagination {
  justify-content: flex-end; }

.article-content {
  min-height: 150px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  word-break: break-word; }
  .article-content img {
    max-width: 100% !important;
    height: auto !important; }

figure.article-comment-user-image {
  width: 50px; }

.article-comment + .media {
  border-top: 1px solid #eee; }

.news-item {
  max-width: 100%;
  flex: 0 0 100%; }
  @media (max-width: 991px) {
    .news-item {
      max-width: 100%;
      flex: 0 0 100%;
      background: var(--blog-bg);
      border-radius: 20px; }
      .news-item + .news-item {
        margin-left: 10px; } }

.home-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .home-news .news-item {
    --blog-bg: #effaff; }
  .home-news__img {
    width: calc(60% - 40px);
    overflow: hidden; }
    .home-news__img:before {
      padding-top: calc(100% * 442 / 760); }
    .home-news__img img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      border-radius: 20px; }
    .home-news__img img.lazyload:not(.loaded) {
      width: 100%;
      height: 100%; }
    @media (max-width: 991px) {
      .home-news__img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden; }
        .home-news__img img {
          border-radius: 0px; } }
  .home-news__info {
    width: 40%;
    background: var(--blog-bg);
    border-radius: 20px;
    padding: 15px 45px; }
    @media (max-width: 991px) {
      .home-news__info {
        width: 100%;
        padding: 15px; } }
    .home-news__info .news-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .home-news__info .news-content h3 a:hover {
        color: var(--primary-color); }
      @media (max-width: 991px) {
        .home-news__info .news-content h3 {
          font-size: 1.25rem; } }

@media (max-width: 767px) {
  .right-content {
    padding: 0.25rem 10px !important; } }
