@charset "UTF-8";
/* ==========  VARIABLES  ========== */
/* ==========  COMMON  ========== */
html {
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0; }
  body.menu-toggled {
    overflow-y: hidden; }

a, body {
  color: #383838; }

* {
  box-sizing: border-box; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img, iframe {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none !important; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

/* ==========  HELPERS  ========== */
.ega-hidden {
  display: none !important; }

.ega-inline-block {
  display: inline-block !important; }

.ega-block {
  display: block !important; }

@media (min-width: 576px) {
  .ega-hidden--sm {
    display: none !important; } }

@media (min-width: 768px) {
  .ega-hidden--md {
    display: none !important; } }

@media (min-width: 992px) {
  .ega-hidden--lg {
    display: none !important; } }

@media (min-width: 1200px) {
  .ega-hidden--xl {
    display: none !important; } }

@media (min-width: 576px) {
  .ega-inline-block--sm {
    display: inline-block !important; } }

@media (min-width: 768px) {
  .ega-inline-block--md {
    display: inline-block !important; } }

@media (min-width: 992px) {
  .ega-inline-block--lg {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .ega-inline-block--xl {
    display: inline-block !important; } }

@media (min-width: 576px) {
  .ega-block--sm {
    display: block !important; } }

@media (min-width: 768px) {
  .ega-block--md {
    display: block !important; } }

@media (min-width: 992px) {
  .ega-block--lg {
    display: block !important; } }

@media (min-width: 1200px) {
  .ega-block--xl {
    display: block !important; } }

@media (min-width: 576px) {
  .ega-flex--sm {
    display: flex !important; } }

@media (min-width: 768px) {
  .ega-flex--md {
    display: flex !important; } }

@media (min-width: 992px) {
  .ega-flex--lg {
    display: flex !important; } }

@media (min-width: 1200px) {
  .ega-flex--xl {
    display: flex !important; } }

/* ==========  TYPOGRAPHY  ========== */
html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

p {
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 16px; }

a {
  text-decoration: none; }

/* ==========  GRID  ========== */
.ega-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .ega-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .ega-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .ega-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .ega-container {
      max-width: 1230px; } }

.ega-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.ega-col, [class*=ega-col-] {
  padding-left: 10px;
  padding-right: 10px; }

/* ==========  MIXINS  ========== */
/** END GLOBAL CSS **/
/** Begin FoodnBeverage **/
#section-detail {
  background: #423f3f;
  color: #ffffff;
  padding: 70px 0 140px 0; }
  #section-detail .line-break {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #777; }
  #section-detail .product__img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px; }
    @media (max-width: 991px) {
      #section-detail .product__img {
        margin-bottom: 20px; } }
    #section-detail .product__img--thumb {
      flex-basis: 15%;
      padding-left: 10px;
      padding-right: 10px;
      overflow: auto; }
      #section-detail .product__img--thumb li {
        margin-bottom: 20px;
        cursor: pointer; }
    #section-detail .product__img--main {
      flex-basis: 82%;
      padding-left: 10px;
      padding-right: 10px; }
      @media (max-width: 575px) {
        #section-detail .product__img--main {
          flex-basis: 100%;
          max-width: 100%; } }
  #section-detail .product__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px; }
  #section-detail .product__price ins {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: red; }
  #section-detail .product__price del {
    position: relative;
    padding-left: 12px;
    margin-left: 10px;
    color: #777;
    font-size: 18px; }
    #section-detail .product__price del:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 25px;
      background: #cc3737;
      top: 0;
      left: 0; }
  #section-detail .product__saved {
    font-size: 14px; }
    #section-detail .product__saved span {
      display: inline-block; }
  #section-detail .product__action {
    position: relative;
    display: inline-block;
    background: #eb212e;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    padding: 12px;
    text-align: center; }
    #section-detail .product__action:hover {
      background: #333; }
    @media (max-width: 767px) {
      #section-detail .product__action {
        width: 100%; } }
    #section-detail .product__action .pointer__effect {
      width: 36px;
      height: 36px;
      top: 8px;
      right: 5px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid white;
      -webkit-animation: ega-alo-circle-anim 1.2s infinite ease-in-out;
      -moz-animation: ega-alo-circle-anim 1.2s infinite ease-in-out;
      -ms-animation: ega-alo-circle-anim 1.2s infinite ease-in-out;
      -o-animation: ega-alo-circle-anim 1.2s infinite ease-in-out;
      animation: ega-alo-circle-anim 1.2s infinite ease-in-out;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    #section-detail .product__action .pointer__fill {
      background-color: white;
      width: 20px;
      height: 20px;
      top: 15px;
      right: 13px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      -webkit-animation: ega-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -moz-animation: ega-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -ms-animation: ega-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -o-animation: ega-alo-circle-fill-anim 2.3s infinite ease-in-out;
      animation: ega-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    #section-detail .product__action .pointer__img {
      width: 32px;
      height: 29px;
      top: 15px;
      right: 0px;
      position: absolute;
      background: url(icon-clickc353.png?v=586) no-repeat center left;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: 1;
      -webkit-animation: ega-alo-circle-img-anim 1s infinite ease-in-out;
      -moz-animation: ega-alo-circle-img-anim 1s infinite ease-in-out;
      -ms-animation: ega-alo-circle-img-anim 1s infinite ease-in-out;
      -o-animation: ega-alo-circle-img-anim 1s infinite ease-in-out;
      animation: ega-alo-circle-img-anim 1s infinite ease-in-out;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
  #section-detail .product__detail li {
    padding-left: 20px;
    position: relative; }
    #section-detail .product__detail li:before {
      position: absolute;
      content: "•";
      left: 0;
      top: 0; }
  #section-detail .product__countdown {
    padding-top: 15px; }
    #section-detail .product__countdown > span {
      display: block;
      margin-bottom: 10px; }
    #section-detail .product__countdown ul li {
      display: inline-block;
      float: left;
      width: 100px;
      height: 100px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      text-align: center; }
      @media (max-width: 767px) {
        #section-detail .product__countdown ul li {
          width: 50px;
          height: 50px; } }
      #section-detail .product__countdown ul li + li {
        position: relative;
        margin-left: 20px; }
        #section-detail .product__countdown ul li + li:before {
          position: absolute;
          content: ":";
          top: 50%;
          left: -17px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 30px; }
      #section-detail .product__countdown ul li .time-part {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        #section-detail .product__countdown ul li .time-part span {
          display: block;
          font-size: 12px; }
  #section-detail .product__options {
    padding-top: 10px; }
    #section-detail .product__options label {
      font-size: 14px; }

@-Moz-Keyframes ega-alo-circle-anim {
  0% {
    -Moz-Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    Opacity: .1;
    -Moz-Opacity: .1;
    -Webkit-Opacity: .1;
    -O-Opacity: .1; }
  30% {
    -Moz-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .5;
    -Moz-Opacity: .5;
    -Webkit-Opacity: .5;
    -O-Opacity: .5; }
  100% {
    -Moz-Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .6;
    -Moz-Opacity: .6;
    -Webkit-Opacity: .6;
    -O-Opacity: .1; } }

@-Webkit-Keyframes ega-alo-circle-anim {
  0% {
    -Webkit-Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    -Webkit-Opacity: .1; }
  30% {
    -Webkit-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    -Webkit-Opacity: .5; }
  100% {
    -Webkit-Transform: Rotate(0) Scale(1) Skew(1Deg);
    -Webkit-Opacity: .1; } }

@-O-Keyframes ega-alo-circle-anim {
  0% {
    -O-Transform: Rotate(0) Kscale(0.5) Skew(1Deg);
    -O-Opacity: .1; }
  30% {
    -O-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    -O-Opacity: .5; }
  100% {
    -O-Transform: Rotate(0) Scale(1) Skew(1Deg);
    -O-Opacity: .1; } }

@-Moz-Keyframes ega-alo-circle-anim {
  0% {
    Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    Opacity: .1; }
  30% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .5; }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .1; } }

@-Webkit-Keyframes ega-alo-circle-anim {
  0% {
    Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    Opacity: .1; }
  30% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .5; }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .1; } }

@-O-Keyframes ega-alo-circle-anim {
  0% {
    Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    Opacity: .1; }
  30% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .5; }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .1; } }

@Keyframes ega-alo-circle-anim {
  0% {
    Transform: Rotate(0) Scale(0.5) Skew(1Deg);
    Opacity: .1; }
  30% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .5; }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .1; } }

@-Moz-Keyframes ega-alo-circle-fill-anim {
  0% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-Webkit-Keyframes ega-alo-circle-fill-anim {
  0% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-O-Keyframes ega-alo-circle-fill-anim {
  0% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@Keyframes ega-alo-circle-fill-anim {
  0% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-Moz-Keyframes ega-alo-circle-fill-anim {
  0% {
    -Moz-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    -Moz-Transform: Rotate(0) -Moz-Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    -Moz-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-Webkit-Keyframes ega-alo-circle-fill-anim {
  0% {
    -Webkit-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    -Webkit-Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    -Webkit-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-O-Keyframes ega-alo-circle-fill-anim {
  0% {
    -O-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; }
  50% {
    -O-Transform: Rotate(0) Scale(1) Skew(1Deg);
    Opacity: .2; }
  100% {
    -O-Transform: Rotate(0) Scale(0.7) Skew(1Deg);
    Opacity: .2; } }

@-O-Keyframes ega-alo-circle-img-anim {
  0% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); }
  10% {
    Transform: Rotate(-25Deg) Scale(1) Skew(1Deg); }
  20% {
    Transform: Rotate(25Deg) Scale(1) Skew(1Deg); }
  30% {
    Transform: Rotate(-25Deg) Scale(1) Skew(1Deg); }
  40% {
    Transform: Rotate(25Deg) Scale(1) Skew(1Deg); }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); } }

@Keyframes ega-alo-circle-img-anim {
  0% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); }
  10% {
    Transform: Rotate(-25Deg) Scale(1) Skew(1Deg); }
  20% {
    Transform: Rotate(25Deg) Scale(1) Skew(1Deg); }
  30% {
    Transform: Rotate(-25Deg) Scale(1) Skew(1Deg); }
  40% {
    Transform: Rotate(25Deg) Scale(1) Skew(1Deg); }
  50% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); }
  100% {
    Transform: Rotate(0) Scale(1) Skew(1Deg); } }

/** End FoodnBeverage **/
.line-link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 3px 15px;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  font-size: 14px;
  color: #eb212e; }
  .line-link strong {
    font-weight: 400;
    display: block; }
  .line-link span {
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    overflow: hidden; }
    .line-link span b {
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      height: 15px; }
    .line-link span.line-1 {
      right: 0;
      bottom: -2%; }
      .line-link span.line-1 b {
        right: 0;
        background-image: url(foodnbeverage_001_title_linec353.png?v=586); }
    .line-link span.line-2 {
      left: 0;
      bottom: -13%; }
      .line-link span.line-2 b {
        left: 0;
        background-image: url(foodnbeverage_001_hover_linec353.png?v=586); }

header {
  padding: 20px 0;
  border-bottom: 1px solid #7d7d7d; }
  @media (max-width: 991px) {
    header {
      padding: 0; } }
  header .main-menu {
    position: relative; }
    header .main-menu .menu {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      header .main-menu .menu li {
        line-height: 45px; }
        header .main-menu .menu li + li {
          padding-left: 40px; }
        header .main-menu .menu li:first-child {
          padding-left: 0; }
        header .main-menu .menu li:hover a {
          color: #eb212e; }
          header .main-menu .menu li:hover a.menu__action {
            color: #ffffff; }
        header .main-menu .menu li.active {
          position: relative;
          padding-left: 10px; }
          header .main-menu .menu li.active:before {
            content: "";
            display: table;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #eb212e;
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: 0; }
  header .header--mb {
    position: relative;
    height: 90px;
    padding: 0 20px;
    text-align: center; }
    header .header--mb img {
      max-height: 90px; }
    @media (max-width: 767px) {
      header .header--mb {
        height: 45px; }
        header .header--mb img {
          max-height: 45px; } }
    header .header--mb > a {
      position: relative;
      display: inline-block;
      z-index: 999;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    header .header--mb .menu--mb {
      position: absolute;
      background: #fff;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      padding-top: 45px;
      padding-bottom: 20px;
      visibility: hidden;
      opacity: 0; }
      @media (min-width: 768px) {
        header .header--mb .menu--mb {
          padding: 90px 0 40px; } }
      header .header--mb .menu--mb li {
        display: block;
        padding: 0 15px;
        margin-top: 20px; }
        header .header--mb .menu--mb li.active:before {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #eb212e;
          position: relative;
          top: auto;
          margin-top: -3px;
          left: auto;
          vertical-align: middle;
          margin-right: 10px; }
    header .header--mb .toggle-nav {
      position: absolute;
      height: 30px;
      width: 40px;
      margin: 28px 0;
      z-index: 999; }
      @media (max-width: 767px) {
        header .header--mb .toggle-nav {
          height: 15px;
          width: 20px;
          margin: 15px 0; } }
      header .header--mb .toggle-nav span {
        position: absolute;
        height: 6px;
        width: 100%;
        background: #454545;
        border-radius: 9px;
        left: 0;
        transform-origin: left center;
        transition: .25s ease-out; }
        header .header--mb .toggle-nav span:nth-child(1) {
          top: 0; }
        header .header--mb .toggle-nav span:nth-child(2) {
          top: 12px; }
        header .header--mb .toggle-nav span:nth-child(3) {
          top: 24px; }
        @media (max-width: 767px) {
          header .header--mb .toggle-nav span {
            height: 3px; }
            header .header--mb .toggle-nav span:nth-child(1) {
              top: 0; }
            header .header--mb .toggle-nav span:nth-child(2) {
              top: 6px; }
            header .header--mb .toggle-nav span:nth-child(3) {
              top: 12px; } }
    header .header--mb .nav-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 98;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    header .header--mb .icon-search {
      position: absolute;
      top: 0;
      right: 20px;
      margin: 6px 0;
      font-size: 22px; }
      @media (min-width: 768px) {
        header .header--mb .icon-search {
          margin: 15px 0;
          font-size: 40px; } }
    header .header--mb .search--mb {
      position: absolute;
      top: -100px;
      left: 20px;
      width: calc(100% - 65px);
      height: 100%;
      z-index: 999;
      padding: 2px 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      header .header--mb .search--mb.show-form {
        top: 0; }
      header .header--mb .search--mb input {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border: 1px solid #eee; }
      header .header--mb .search--mb button {
        position: absolute;
        top: 3px;
        right: 1px;
        border: 0;
        height: 39px;
        font-size: 11px;
        background: #fafafa; }
      @media (min-width: 768px) {
        header .header--mb .search--mb {
          padding: 20px 0;
          width: calc(100% - 85px); }
          header .header--mb .search--mb input, header .header--mb .search--mb button {
            font-size: initial; }
          header .header--mb .search--mb button {
            top: 21px;
            height: 48px;
            padding: 0 20px; } }
    header .header--mb--open .toggle-nav span:nth-child(1) {
      transform: rotate(45deg); }
    header .header--mb--open .toggle-nav span:nth-child(2) {
      opacity: 0; }
    header .header--mb--open .toggle-nav span:nth-child(3) {
      transform: rotate(-45deg);
      top: 14px; }
      @media (min-width: 768px) {
        header .header--mb--open .toggle-nav span:nth-child(3) {
          top: 28px; } }
    header .header--mb--open .menu--mb {
      visibility: visible;
      opacity: 1; }
    header .header--mb--open .nav-overlay {
      visibility: visible;
      opacity: 1; }
  header .menu__action {
    background: #eb212e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px; }
    header .menu__action:hover {
      background: #333;
      color: #fff !important; }

.home-banner {
  overflow: hidden;
  position: relative;
  width: 100%; }
  .home-banner .item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .home-banner .item {
        height: 285px; } }
    .home-banner .item:first-child {
      position: relative;
      opacity: 1;
      visibility: visible; }
    .home-banner .item .caption {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      max-width: 1230px;
      padding: 0 15px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .home-banner .item .caption .text {
        position: relative;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 450px; }
        @media (max-width: 767px) {
          .home-banner .item .caption .text {
            width: 225px; } }
        .home-banner .item .caption .text h2 {
          color: #733b3b;
          font-size: 53px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 1;
          margin: 0 0 20px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
          @media (max-width: 767px) {
            .home-banner .item .caption .text h2 {
              font-size: 25px;
              line-height: 1.3;
              margin-bottom: 10px; } }
        .home-banner .item .caption .text p {
          margin-bottom: 40px;
          color: #733b3b;
          text-shadow: 1px 1px 1px #000; }
          @media (max-width: 767px) {
            .home-banner .item .caption .text p {
              font-size: 13px; } }
        .home-banner .item .caption .text a {
          color: #733b3b;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          text-decoration: underline; }
  .home-banner .controls {
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home-banner .controls span {
      width: 20px;
      height: 20px;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      margin-top: 20px;
      cursor: pointer;
      box-shadow: 0 0 6px 0 #333;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      @media (max-width: 767px) {
        .home-banner .controls span {
          width: 15px;
          height: 15px; } }
      .home-banner .controls span:first-child {
        margin-top: 0; }
      .home-banner .controls span.js-active {
        cursor: default;
        pointer-events: none;
        background-color: #c1d038; }

.banner--coll {
  background: url(coll_banner_bgc353.html?v=586) no-repeat 50%;
  background-size: cover; }

.banner__content {
  text-align: center;
  padding: 52px 0;
  width: 700px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .banner__content {
      width: 100%; } }

.banner__title {
  margin: 0;
  font-weight: 400;
  font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
  font-size: 82px;
  color: #383838; }
  @media (max-width: 991px) {
    .banner__title {
      font-size: 40px; } }

.home-about {
  padding: 60px 0;
  background: #ffffff;
  text-align: center; }
  @media (max-width: 767px) {
    .home-about {
      padding: 25px 0; } }
  .home-about__title {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1;
    font-family: "Dancing Script", "Helvetica", "Arial", sans-serif; }
    @media (max-width: 767px) {
      .home-about__title {
        font-size: 30px; } }
  .home-about__desc {
    position: relative;
    display: inline-block;
    width: 900px;
    padding: 0 60px; }
    @media (max-width: 991px) {
      .home-about__desc {
        width: 100%;
        padding: 0 40px; } }
    .home-about__desc:before, .home-about__desc:after {
      content: '';
      display: table;
      width: 42px;
      height: 32px;
      position: absolute;
      background-image: url(foodnbeverage_001_home_intro_quotec353.png?v=586);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%; }
      @media (max-width: 767px) {
        .home-about__desc:before, .home-about__desc:after {
          width: 32px;
          height: 24px; } }
    .home-about__desc:before {
      left: 0;
      top: 0; }
    .home-about__desc:after {
      right: 0;
      bottom: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.block__heading {
  display: inline-block;
  width: 480px;
  padding-bottom: 30px;
  background: url(foodnbeverage_001_title_linec353.png?v=586) no-repeat bottom;
  margin-bottom: 80px; }
  .reviews .block__heading, #section-detail .block__heading {
    width: auto;
    display: block;
    text-align: center; }
  @media (max-width: 767px) {
    .block__heading {
      width: 100%;
      margin-bottom: 40px; } }
  .home-news .block__heading {
    margin-bottom: 15px; }

.block__title {
  font-size: 66px;
  color: #383838;
  font-family: "Dancing Script", "Helvetica", "Arial", sans-serif; }
  #section-detail .block__title {
    color: #ffffff; }
  @media (max-width: 767px) {
    .block__title {
      font-size: 30px;
      margin-bottom: 20px; }
      .home-news .block__title {
        margin-bottom: 0; } }
  .home-news .block__title {
    color: #fff;
    line-height: 1; }

.category__item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .category__item + .category__item {
    margin-top: 100px; }
    @media (max-width: 767px) {
      .category__item + .category__item {
        margin-top: 25px; } }

.category__info {
  flex-basis: 50%;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 991px) {
    .category__info {
      flex-basis: 100%;
      max-width: 100%;
      -ms-flex-order: 2;
      order: 2;
      padding: 25px 15px; } }
  .category__item--order .category__info {
    -ms-flex-order: 2;
    order: 2; }

.category__contain {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.category__img {
  flex-basis: 50%;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 991px) {
    .category__img {
      flex-basis: 100%;
      max-width: 100%; } }

.category__title {
  font-size: 45px;
  color: #383838;
  font-weight: 400;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .category__title {
      font-size: 25px; } }
  .category__title span {
    display: block;
    font-size: 20px;
    color: #dc3540; }

.home-product {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  background: #ffffff; }
  @media (max-width: 767px) {
    .home-product {
      padding: 25px 0; } }

.footer {
  background: #222222;
  padding: 40px 0;
  color: #fff; }
  @media (max-width: 767px) {
    .footer {
      padding: 15px 0; } }
  .footer__blank {
    display: block;
    height: 33px; }
  .footer__nav {
    margin-top: 30px;
    border-bottom: 1px solid #636363;
    padding-bottom: 15px;
    margin-bottom: 45px; }
    @media (max-width: 767px) {
      .footer__nav {
        margin-bottom: 30px; } }
    .footer__nav li {
      float: left;
      margin-right: 25px; }
      @media (max-width: 991px) {
        .footer__nav li {
          display: inline-block;
          width: 50%;
          margin: 0 0 15px; } }
      .footer__nav li a {
        font-weight: 700;
        color: #a8a7a7;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        @media (min-width: 992px) and (max-width: 1024px) {
          .footer__nav li a {
            font-size: 12px; } }
        @media (max-width: 767px) {
          .footer__nav li a {
            font-size: 12px; } }
      .footer__nav li.active a, .footer__nav li:hover a {
        color: #eb212e; }
  .footer__copyright {
    color: #6b6a6a;
    margin: 0; }
    @media (max-width: 991px) {
      .footer__copyright {
        margin-top: 20px;
        border-top: 1px solid;
        padding-top: 15px;
        font-size: 13px; } }
  .footer__left {
    float: left; }
    @media (max-width: 991px) {
      .footer__left {
        float: none; } }
  .footer__right {
    float: right; }
    @media (max-width: 991px) {
      .footer__right {
        float: none;
        text-align: center; } }
  .footer__link {
    display: inline-block;
    line-height: initial;
    vertical-align: bottom;
    padding: 5px 20px;
    background: #a8a7a7;
    color: #383838;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .footer__link:hover {
      background: #fff;
      color: #eb212e; }
  .footer .social__title {
    display: block;
    margin-top: 30px;
    border-bottom: 1px solid #636363;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #a8a7a7; }
    @media (max-width: 767px) {
      .footer .social__title {
        margin-top: 20px;
        margin-bottom: 20px; } }
  .footer .social__list a {
    display: inline-block;
    margin-right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #a8a7a7;
    border-radius: 50%;
    text-align: center; }
    .footer .social__list a svg {
      color: #fff; }
    .footer .social__list a:hover {
      border-color: #eb212e; }
      .footer .social__list a:hover svg {
        color: #eb212e; }
  @media (max-width: 991px) {
    .footer .social__list {
      display: flex;
      justify-content: center; }
      .footer .social__list a {
        margin: 5px; } }

.ega-product {
  display: block;
  text-align: center; }
  .ega-product__img {
    text-align: center; }
    @media (max-width: 767px) {
      .ega-product__img img {
        display: inline-block;
        max-width: 160px; } }
  .ega-product__title {
    font-size: 14px;
    color: #fff;
    margin: 5px 0;
    height: 42px;
    overflow: hidden; }
  .ega-product ins {
    color: #ed1d24;
    text-decoration: none;
    line-height: 1;
    font-weight: 700; }
  .ega-product__sale-label {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 2px;
    background: #ed1d24;
    margin-left: 10px; }
  .ega-product__onsale {
    height: 20px; }
    .ega-product__onsale del {
      color: #9e9e9e;
      font-size: 13px; }
    .ega-product__onsale span {
      color: #333;
      font-size: 11px;
      margin-left: 2px; }

.product {
  flex-basis: 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 1200px) {
    .product {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 70px; } }
  @media (max-width: 767px) {
    .product {
      flex-basis: 100%;
      max-width: 100%; } }
  .product:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  .product__img img {
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .product__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 0 15px; }

.fb-comment {
  padding: 40px 0;
  /*.fb-comments{
		position: relative;
		left: 50%;
		@include translateX(-50%);
	}*/ }

.reviews {
  padding: 40px 0;
  background: #ffffff; }
  .reviews__intro {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 30px; }
    .reviews__intro:before {
      position: absolute;
      content: "";
      width: 120px;
      height: 2px;
      background: #eb212e;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  .reviews__heading {
    position: relative;
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .reviews__heading {
        height: 240px;
        padding-left: 200px; } }
  .reviews__img {
    border-radius: 50%;
    overflow: hidden;
    text-align: center; }
    .reviews__img img {
      display: block; }
    .reviews__heading .reviews__img {
      width: 240px;
      height: 240px;
      line-height: 240px; }
      @media (min-width: 1024px) {
        .reviews__heading .reviews__img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; } }
      @media (max-width: 991px) {
        .reviews__heading .reviews__img {
          margin: 0 auto 20px auto; } }
    .reviews__item .reviews__img {
      display: inline-block;
      vertical-align: top;
      width: 80px;
      height: 80px;
      line-height: 80px;
      margin-right: 10px; }
  @media (min-width: 1024px) {
    .reviews__heading .reviews__info {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .reviews__item .reviews__info {
    display: inline-block;
    width: calc(100% - 100px); }
  .reviews__author {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: inherit; }
    .reviews__heading .reviews__author {
      padding-left: 50px; }
    .reviews__author span {
      display: block;
      color: #eb212e;
      font-size: 14px; }
  .reviews__heading .reviews__content {
    height: 100px;
    padding: 10px 80px;
    border: 3px solid #ccc;
    overflow: auto; }
    @media (max-width: 767px) {
      .reviews__heading .reviews__content {
        height: auto;
        padding: 10px;
        text-align: justify; } }
  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center; }
  .reviews__item {
    flex-basis: 33.3333%;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 767px) {
      .reviews__item {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px; } }

.soluong {
  display: grid !important;
  align-items: center;
  grid-template-columns: 100px 1fr;
  margin-bottom: 15px; }

.soluong label {
  justify-content: flex-start; }

.input_number_product {
  border: none;
  display: flex;
  height: 30px;
  align-items: center; }

button.btn.btn_num {
  padding: 4px;
  width: 30px;
  border: 1px solid #ced4da;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee; }

.prd_quantity {
  width: 65px !important;
  text-align: center;
  border-radius: 0;
  height: 30px;
  border: none; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive.embed-responsive-1by1 iframe {
  --image-scale: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--image-scale));
  object-fit: contain;
  max-width: 100%;
  max-height: 100%; }

.product__img--main iframe {
  width: 100%;
  height: 100%; }
