/* ==========  VARIABLES  ========== */
/* ==========  COMMON  ========== */
html {
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #ffffff;
  color: #3a3a3a; }
  body.menu-toggled {
    overflow-y: hidden; }

* {
  box-sizing: border-box; }

main {
  display: block; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a:focus, button:focus {
  outline: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

textarea {
  resize: vertical; }

img, iframe {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none !important; }

.text-color--success {
  color: #3c763d; }

.text-color--danger {
  color: #a94442; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.ega-color--initial {
  color: initial !important; }

.ega-color--inherit {
  color: inherit !important; }

.ega-btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.ega-btn-color {
  background: #a30c0c;
  color: #fff; }
  .ega-btn-color--outline {
    background-color: transparent;
    border-color: #a30c0c;
    color: #a30c0c; }
    .ega-btn-color--outline:hover {
      background-color: #a30c0c;
      border-color: #a30c0c;
      color: #fff; }

/* ==========  HELPERS  ========== */
.ega-hidden {
  display: none !important; }

.ega-inline-block {
  display: inline-block !important; }

.ega-block {
  display: block !important; }

@media (min-width: 576px) {
  .ega-hidden--sm {
    display: none !important; } }

@media (min-width: 768px) {
  .ega-hidden--md {
    display: none !important; } }

@media (min-width: 992px) {
  .ega-hidden--lg {
    display: none !important; } }

@media (min-width: 1200px) {
  .ega-hidden--xl {
    display: none !important; } }

@media (min-width: 576px) {
  .ega-inline-block--sm {
    display: inline-block !important; } }

@media (min-width: 768px) {
  .ega-inline-block--md {
    display: inline-block !important; } }

@media (min-width: 992px) {
  .ega-inline-block--lg {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .ega-inline-block--xl {
    display: inline-block !important; } }

@media (min-width: 576px) {
  .ega-block--sm {
    display: block !important; } }

@media (min-width: 768px) {
  .ega-block--md {
    display: block !important; } }

@media (min-width: 992px) {
  .ega-block--lg {
    display: block !important; } }

@media (min-width: 1200px) {
  .ega-block--xl {
    display: block !important; } }

@media (min-width: 576px) {
  .ega-flex--sm {
    display: flex !important; } }

@media (min-width: 768px) {
  .ega-flex--md {
    display: flex !important; } }

@media (min-width: 992px) {
  .ega-flex--lg {
    display: flex !important; } }

@media (min-width: 1200px) {
  .ega-flex--xl {
    display: flex !important; } }

.ega-flex--center {
  justify-content: center !important; }

/* ==========  TYPOGRAPHY  ========== */
html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

p {
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 16px; }

a {
  text-decoration: none; }

/* ==========  GRID  ========== */
.ega-container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto; }
  .ega-container--fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  @media (min-width: 576px) {
    .ega-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .ega-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .ega-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .ega-container {
      max-width: 1170px; } }

.ega-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ega-col, [class*=ega-col-] {
  padding-left: 15px;
  padding-right: 15px; }

/** Break point **/
/** Collumn **/
.ega-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.ega-col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.ega-col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.ega-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.ega-col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.ega-col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.ega-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.ega-col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.ega-col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.ega-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.ega-col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.ega-col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.ega-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.ega-col-20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.ega-col-30 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }

.ega-col-40 {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; }

.ega-col-60 {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; }

.ega-col-70 {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }

.ega-col-80 {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.ega-col-90 {
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }

@media (min-width: 576px) {
  .ega-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .ega-col-sm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .ega-order-sm-1 {
    -ms-flex-order: 1;
    order: 1; }
  .ega-col-sm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .ega-order-sm-2 {
    -ms-flex-order: 2;
    order: 2; }
  .ega-col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .ega-order-sm-3 {
    -ms-flex-order: 3;
    order: 3; }
  .ega-col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .ega-order-sm-4 {
    -ms-flex-order: 4;
    order: 4; }
  .ega-col-sm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .ega-order-sm-5 {
    -ms-flex-order: 5;
    order: 5; }
  .ega-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .ega-order-sm-6 {
    -ms-flex-order: 6;
    order: 6; }
  .ega-col-sm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .ega-order-sm-7 {
    -ms-flex-order: 7;
    order: 7; }
  .ega-col-sm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .ega-order-sm-8 {
    -ms-flex-order: 8;
    order: 8; }
  .ega-col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .ega-order-sm-9 {
    -ms-flex-order: 9;
    order: 9; }
  .ega-col-sm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .ega-order-sm-10 {
    -ms-flex-order: 10;
    order: 10; }
  .ega-col-sm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .ega-order-sm-11 {
    -ms-flex-order: 11;
    order: 11; }
  .ega-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .ega-order-sm-12 {
    -ms-flex-order: 12;
    order: 12; }
  .ega-col-ten {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .ega-col-sm-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .ega-col-sm-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .ega-col-sm-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .ega-col-sm-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .ega-col-sm-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .ega-col-sm-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .ega-col-sm-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; } }

@media (min-width: 768px) {
  .ega-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .ega-col-md-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .ega-order-md-1 {
    -ms-flex-order: 1;
    order: 1; }
  .ega-col-md-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .ega-order-md-2 {
    -ms-flex-order: 2;
    order: 2; }
  .ega-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .ega-order-md-3 {
    -ms-flex-order: 3;
    order: 3; }
  .ega-col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .ega-order-md-4 {
    -ms-flex-order: 4;
    order: 4; }
  .ega-col-md-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .ega-order-md-5 {
    -ms-flex-order: 5;
    order: 5; }
  .ega-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .ega-order-md-6 {
    -ms-flex-order: 6;
    order: 6; }
  .ega-col-md-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .ega-order-md-7 {
    -ms-flex-order: 7;
    order: 7; }
  .ega-col-md-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .ega-order-md-8 {
    -ms-flex-order: 8;
    order: 8; }
  .ega-col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .ega-order-md-9 {
    -ms-flex-order: 9;
    order: 9; }
  .ega-col-md-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .ega-order-md-10 {
    -ms-flex-order: 10;
    order: 10; }
  .ega-col-md-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .ega-order-md-11 {
    -ms-flex-order: 11;
    order: 11; }
  .ega-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .ega-order-md-12 {
    -ms-flex-order: 12;
    order: 12; }
  .ega-col-ten {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .ega-col-md-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .ega-col-md-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .ega-col-md-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .ega-col-md-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .ega-col-md-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .ega-col-md-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .ega-col-md-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; } }

@media (min-width: 992px) {
  .ega-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .ega-col-lg-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .ega-order-lg-1 {
    -ms-flex-order: 1;
    order: 1; }
  .ega-col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .ega-order-lg-2 {
    -ms-flex-order: 2;
    order: 2; }
  .ega-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .ega-order-lg-3 {
    -ms-flex-order: 3;
    order: 3; }
  .ega-col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .ega-order-lg-4 {
    -ms-flex-order: 4;
    order: 4; }
  .ega-col-lg-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .ega-order-lg-5 {
    -ms-flex-order: 5;
    order: 5; }
  .ega-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .ega-order-lg-6 {
    -ms-flex-order: 6;
    order: 6; }
  .ega-col-lg-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .ega-order-lg-7 {
    -ms-flex-order: 7;
    order: 7; }
  .ega-col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .ega-order-lg-8 {
    -ms-flex-order: 8;
    order: 8; }
  .ega-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .ega-order-lg-9 {
    -ms-flex-order: 9;
    order: 9; }
  .ega-col-lg-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .ega-order-lg-10 {
    -ms-flex-order: 10;
    order: 10; }
  .ega-col-lg-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .ega-order-lg-11 {
    -ms-flex-order: 11;
    order: 11; }
  .ega-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .ega-order-lg-12 {
    -ms-flex-order: 12;
    order: 12; }
  .ega-col-ten {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .ega-col-lg-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .ega-col-lg-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .ega-col-lg-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .ega-col-lg-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .ega-col-lg-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .ega-col-lg-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .ega-col-lg-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; } }

@media (min-width: 1200px) {
  .ega-col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .ega-col-xl-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .ega-order-xl-1 {
    -ms-flex-order: 1;
    order: 1; }
  .ega-col-xl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .ega-order-xl-2 {
    -ms-flex-order: 2;
    order: 2; }
  .ega-col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .ega-order-xl-3 {
    -ms-flex-order: 3;
    order: 3; }
  .ega-col-xl-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .ega-order-xl-4 {
    -ms-flex-order: 4;
    order: 4; }
  .ega-col-xl-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .ega-order-xl-5 {
    -ms-flex-order: 5;
    order: 5; }
  .ega-col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .ega-order-xl-6 {
    -ms-flex-order: 6;
    order: 6; }
  .ega-col-xl-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .ega-order-xl-7 {
    -ms-flex-order: 7;
    order: 7; }
  .ega-col-xl-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .ega-order-xl-8 {
    -ms-flex-order: 8;
    order: 8; }
  .ega-col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .ega-order-xl-9 {
    -ms-flex-order: 9;
    order: 9; }
  .ega-col-xl-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .ega-order-xl-10 {
    -ms-flex-order: 10;
    order: 10; }
  .ega-col-xl-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .ega-order-xl-11 {
    -ms-flex-order: 11;
    order: 11; }
  .ega-col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .ega-order-xl-12 {
    -ms-flex-order: 12;
    order: 12; }
  .ega-col-ten {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .ega-col-xl-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .ega-col-xl-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .ega-col-xl-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }
  .ega-col-xl-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
  .ega-col-xl-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .ega-col-xl-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .ega-col-xl-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; } }

/* ==========  MIXINS  ========== */
/* ====== embed-responsive ======*/
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

/** END GLOBAL CSS **/
/** SALE PAGE **/
@media (min-width: 992px) {
  .ega-order {
    -ms-flex-order: 1;
    order: 1; } }

.button__action {
  display: inline-block;
  background: #eee;
  padding: 5px 20px;
  border-radius: 20px;
  color: initial;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 767px) {
    .button__action {
      font-size: 12px; }
      .pdnbanner .button__action {
        padding: 5px 10px; } }
  .button__action:hover {
    background: #a30c0c;
    color: #fff; }
  .block__viewmore .button__action {
    background: #a30c0c;
    color: #fff;
    border-radius: initial;
    outline: 1px solid;
    outline-color: #a30c0c;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); }
    .block__viewmore .button__action:hover {
      outline-color: transparent;
      outline-offset: 15px; }
  .block--top__item .button__action {
    -webkit-transform: translateY(calc(100% + 15px));
    -ms-transform: translateY(calc(100% + 15px));
    -o-transform: translateY(calc(100% + 15px));
    transform: translateY(calc(100% + 15px)); }

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 50px;
  padding: 5px 0;
  transform: translate3d(0px, -50px, 0px);
  -webkit-transition: transform .3s;
  /* Safari */
  transition: transform .3s;
  background-color: rgba(22, 22, 22, 0.5); }
  header.fixed_header {
    transform: translate3d(0px, 0px, 0px); }
  header #back-to-home {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    width: 50px; }
  header #logo img {
    height: 40px; }

.home-banner {
  position: relative;
  min-height: 300px;
  background: #a30c0c; }
  @media (max-width: 767px) {
    .home-banner {
      min-height: 100px; } }
  .home-banner__content {
    position: absolute;
    width: 80%;
    color: #fff;
    z-index: 99;
    text-align: center;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 991px) {
      .home-banner__content {
        width: 100%;
        position: relative;
        padding: 20px; } }
  .home-banner__title {
    font-size: 35px;
    font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
    font-weight: bold; }
    @media (max-width: 767px) {
      .home-banner__title {
        font-size: 30px; } }
  .home-banner__desc {
    text-align: center;
    padding-top: 30px; }
    @media (max-width: 767px) {
      .home-banner__desc {
        padding-top: 10px; } }
  .home-banner__button {
    /*display: inline-block;
    padding: 9px 20px;
    background: #ffffff;
    border-radius: 25px;
    font-family: $title-font;
    color: $main_color;
    font-size: 20px;
    text-decoration: none;
    transition: all linear .3s;
    border: 1px solid #fff;
    font-weight: 600;
    margin-top: 20px;*/
    display: inline-block;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 22px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
    background-color: transparent;
    border: 2px solid #F9F9F9;
    color: #F9F9F9;
    cursor: pointer; }
    @media (max-width: 767px) {
      .home-banner__button {
        margin-top: 10px; } }
    .home-banner__button:hover {
      background: #a30c0c;
      color: #ffffff; }
  .home-banner .next-section {
    position: absolute;
    font-size: 40px;
    color: #fff;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    font-size: 60px;
    text-shadow: #030303 0px 4px 4px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s !important;
    animation-duration: 1.5s !important; }
  .home-banner #countdown {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    display: inline-block;
    width: auto; }
    @media (max-width: 1024px) {
      .home-banner #countdown {
        width: 620px; } }

.flash-hover {
  position: relative;
  display: block;
  overflow: hidden; }
  .flash-hover:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .8s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0, 100%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .flash-hover:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0, -100%, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: initial; }

.zoomin-hover {
  position: relative;
  display: block;
  overflow: hidden; }
  .zoomin-hover:hover:before {
    visibility: visible; }
  .zoomin-hover:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .zoomin-hover img {
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease; }
  .zoomin-hover:before {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #a30c0c;
    opacity: 0.3;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.twolayer-hover {
  position: relative;
  display: block;
  overflow: hidden; }
  .twolayer-hover:before {
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: 0;
    z-index: 1; }
  .twolayer-hover:after {
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: 0; }
  .twolayer-hover:hover:before, .twolayer-hover:hover:after {
    height: 100%;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    width: 100%; }

.block {
  padding: 40px 0;
  text-align: center; }
  @media (min-width: 1200px) {
    .block--category {
      padding: 120px 0; } }
  .block--gift {
    background: #2c6838;
    color: #fdec34; }
  .block--contact {
    position: relative; }
  .block--countdown {
    overflow: hidden;
    position: relative; }
  @media (max-width: 767px) {
    .block--products .ega-row {
      margin-left: -10px;
      margin-right: -10px; }
      .block--products .ega-row [class*=ega-col] {
        padding-left: 10px;
        padding-right: 10px; } }
  .block__wrap {
    position: relative;
    height: 375px;
    display: flex;
    flex-wrap: wrap; }
  .block__title {
    position: relative;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px; }
    .block__title h2 {
      font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
      font-size: inherit; }
    .block__title__line {
      position: absolute;
      content: "";
      height: 1px;
      width: 50%;
      background: #a30c0c;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      .block__title__line:before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: #a30c0c;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin: -5px auto auto -5px; }
    @media (max-width: 767px) {
      .block__title {
        font-size: 25px; } }
  .block__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 80px;
    text-align: left;
    z-index: 99; }
    @media (max-width: 767px) {
      .block__content {
        padding-top: 20px; } }
  @media (max-width: 767px) {
    .block {
      padding: 20px 0 !important; } }

.gift {
  display: inline-block;
  width: 500px; }
  @media (max-width: 767px) {
    .gift {
      width: 100%; } }
  .gift__title {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
    margin-bottom: 30px; }
  .gift__code {
    background: #173e24;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px; }

.contact__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px; }
  @media (max-width: 767px) {
    .contact__title {
      color: #a30c0c; } }

.contact__desc, .contact__hotline {
  font-weight: 300;
  letter-spacing: 1px; }

.contact--dark .contact__title, .contact--dark .contact__hotline {
  color: #fff; }
  @media (max-width: 767px) {
    .contact--dark .contact__title, .contact--dark .contact__hotline {
      color: inherit; } }

.category__item {
  display: block; }
  @media (max-width: 767px) {
    .category__item {
      margin-bottom: 40px; } }
  .category__item img {
    margin-bottom: 25px; }

.category__content h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #333; }

.category__content span {
  display: block;
  margin-top: 5px;
  color: #444;
  font-weight: 300;
  text-transform: none; }

.category__content p {
  color: #999;
  margin-top: 15px; }

.featured__title {
  background: #bd1b06;
  color: #fff;
  padding: 60px 0; }
  .featured__title h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Dancing Script", "Helvetica", "Arial", sans-serif; }

.featured__hanger {
  background: url(xmas_002__featured__imgc353.jpg?v=586) repeat center top;
  background-size: auto 100%;
  height: 150px; }

.featured__contain {
  padding: 60px 0; }

.product {
  position: relative;
  display: block;
  background: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid transparent; }
  @media (max-width: 767px) {
    .product {
      margin-bottom: 20px; } }
  .product:hover {
    border-color: #a30c0c; }
  .product__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .product__title {
        font-size: 12px; } }
  .product__info {
    padding: 15px; }
    @media (max-width: 767px) {
      .product__info {
        padding: 5px; } }
  .product__price {
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .product__price {
        font-size: 12px; } }
    .product__price ins {
      color: red;
      text-decoration: none; }
    .product__price del {
      color: #999; }
  .product__sale {
    position: absolute;
    width: 80px;
    text-align: center;
    top: 0;
    right: 0;
    padding: 5px;
    background: red;
    color: #fff; }
    @media (max-width: 767px) {
      .product__sale {
        width: 42px;
        font-size: 12px; }
        .product__sale .triangle {
          display: none; } }
    .product__sale .triangle {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 60px;
      overflow: hidden; }
      .product__sale .triangle--left {
        z-index: 1; }
        .product__sale .triangle--left:before {
          top: 0;
          left: 10px;
          border-left: 80px solid rgba(0, 0, 0, 0.2);
          border-bottom: 30px solid transparent; }
        .product__sale .triangle--left:after {
          left: 0;
          border-left: 80px solid red;
          border-bottom: 20px solid transparent; }
      .product__sale .triangle--right:before {
        top: 10px;
        left: 0;
        border-right: 80px solid rgba(0, 0, 0, 0.2);
        border-bottom: 20px solid transparent; }
      .product__sale .triangle--right:after {
        left: 0;
        border-right: 80px solid red;
        border-bottom: 20px solid transparent; }
      .product__sale .triangle:before, .product__sale .triangle:after {
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        top: 0; }
  .product__label {
    position: absolute;
    width: 50px;
    text-align: center;
    top: 0;
    right: 0;
    padding: 5px;
    background: red;
    color: #fff; }
    @media (max-width: 767px) {
      .product__label {
        width: 42px;
        font-size: 12px; } }
    .product__label--soldout {
      width: auto;
      top: 0;
      left: 0;
      right: auto; }

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-50%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(50%); }
  51% {
    opacity: 1; } }

@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-50%); }
  50% {
    opacity: 0;
    -moz-transform: translateY(50%); }
  51% {
    opacity: 1; } }

@-ms-keyframes toTopFromBottom {
  49% {
    -ms-transform: translateY(-50%); }
  50% {
    opacity: 0;
    -ms-transform: translateY(50%); }
  51% {
    opacity: 1; } }

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-50%); }
  50% {
    opacity: 0;
    transform: translateY(50%); }
  51% {
    opacity: 1; } }

.offers_banner {
  /*background: url(//theme.hstatic.net/200000295082/1000772075/14/xmas_002__banner_offer__img.jpg?v=586) no-repeat center center;*/
  background-image: url(xmas_002__banner_offer__imgc353.jpg?v=586);
  background-size: cover;
  padding: 80px 0;
  text-align: center; }
  .offers_banner h2 {
    display: inline-block;
    font-weight: bold;
    color: #666;
    font-size: 30px;
    margin-right: 20px;
    vertical-align: middle; }
  .offers_banner .offers_btn {
    background: #BD1B06;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 8px 25px;
    vertical-align: middle; }

.promotion {
  padding: 50px 0; }
  .promotion__title {
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1px; }
    .promotion__title h2 {
      font-weight: bold; }
  .promotion__item {
    display: inline-block;
    letter-spacing: 1px;
    color: inherit; }
    .promotion__item h3 {
      font-weight: bold; }
    .promotion__item img {
      margin-bottom: 25px; }

.payment__wrap {
  padding: 50px 0;
  border-top: 1px solid #eee; }

.payment__desc {
  color: #555;
  font-size: 22px; }

.payment__img {
  text-align: right; }

.footer {
  /*&__copyright{
    padding: 20px 10px;
    text-align: center;
    @media(max-width: 767px){
      font-size: 15px;
      padding-bottom: 60px;
    }
  }*/ }
  .footer__hanger {
    background: url(xmas_002__footer__register__imgc353.png?v=586) repeat-x center top;
    background-size: auto 100%;
    height: 54px; }
  .footer__coupon {
    background: #5b9a68;
    padding: 30px 0;
    color: #ffffff;
    font-size: 30px;
    text-align: center; }
  .footer__body {
    background: #1a2f4c;
    text-align: center; }
  .footer__form {
    padding: 80px 0;
    color: #fff; }
    .footer__form h4 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 3px; }
    .footer__form p {
      color: #ccc;
      font-weight: 300; }
    .footer__form .subscribe__email {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      color: #555;
      background-color: #fff;
      border: 1px solid #ccc;
      width: 100%;
      border-radius: 3px;
      text-align: center; }
    .footer__form .subscribe__btn {
      margin-top: 30px;
      border-radius: 20px;
      padding: 10px 22px;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 13px;
      background-color: transparent;
      border: 2px solid #F9F9F9;
      color: #F9F9F9;
      cursor: pointer; }
      .footer__form .subscribe__btn:hover {
        background-color: #F9F9F9;
        color: #333; }
  .footer__copyright {
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .footer__content {
    padding: 40px 0; }
  .footer__logo {
    text-align: center;
    margin-bottom: 30px; }
  .footer__info {
    position: relative;
    padding-left: 80px;
    height: 50px;
    line-height: 50px; }
    @media (max-width: 991px) {
      .footer__info {
        margin-bottom: 20px; } }
    .footer__info i {
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 50px;
      top: 0;
      left: 0;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 22px; }
    .footer__info span {
      display: inline-block;
      line-height: normal; }
  .footer__title {
    min-height: 28px;
    margin-bottom: 30px;
    font-weight: bold; }
    @media (max-width: 991px) {
      .footer__title {
        margin-bottom: 10px; } }
  .footer__contact {
    margin-bottom: 60px; }
    @media (max-width: 991px) {
      .footer__contact {
        margin-bottom: 40px; } }
  .footer__social {
    text-align: center; }
    .footer__social h3 {
      margin-bottom: 30px; }
    .footer__social ul {
      display: inline-block; }
      .footer__social ul li {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        float: left;
        border: 1px solid; }
        .footer__social ul li a {
          display: block;
          font-size: 22px; }
        .footer__social ul li + li {
          margin-left: 15px; }
        .footer__social ul li:hover i {
          -webkit-animation: toTopFromBottom .5s forwards;
          -moz-animation: toTopFromBottom .5s forwards;
          -ms-animation: toTopFromBottom .5s forwards;
          animation: toTopFromBottom .5s forwards; }

#gotop {
  position: fixed;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
  opacity: 0; }
  #gotop.show {
    opacity: 1; }

/*** Owl-nav ***/
.owl-nav [class*=owl-] {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .owl-nav [class*=owl-]:hover {
    background: #a30c0c;
    color: #fff; }

.owl-nav .owl-prev {
  left: 0; }

.owl-nav .owl-next {
  right: 0; }

/*** Keyframe ***/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/*DANCING ANIMATION*/
@keyframes dance {
  0% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  16.66%, 49.98% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  32.32% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  66.64%, 100% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  83.8% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  16.66%, 49.98% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  32.32% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  66.64%, 100% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  83.8% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

/*--- Snowfall Effect ---*/
.snow {
  position: absolute;
  background: url(xmas_002_snowc353.png?v=586);
  background-repeat: repeat;
  width: 100%;
  top: 0;
  left: 0; }
  .snow--1 {
    height: 100%;
    animation: snowOne 5s infinite linear; }
  .snow--2 {
    height: 100%;
    animation: snowTwo 5s infinite linear;
    background-size: 300px;
    filter: blur(1px); }
  .snow--3 {
    height: 100%;
    animation: snowThree 5s infinite linear;
    background-size: 800px;
    filter: blur(2px); }

@keyframes snowOne {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 100px 750px; } }

@keyframes snowTwo {
  0% {
    background-position: 0px -100px; }
  100% {
    background-position: 0px 750px; } }

@keyframes snowThree {
  0% {
    background-position: 0px 100px; }
  100% {
    background-position: 300px 750px; } }

/*** Flip-clock ***/
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a {
  color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em; }

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.flip-clock-wrapper:after {
  clear: both; }

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000; }

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important; }

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #edbf05;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #a30c0c;
  border-radius: 6px;
  font-size: 70px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #edbf05;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: #ffffff;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }
  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }
  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }
  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }
  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*** Countdown on mobile ***/
@media (max-width: 767px) {
  .home-banner #countdown {
    width: 300px;
    bottom: 0; }
    .home-banner #countdown .flip {
      width: 20px;
      height: 40px;
      margin: 2px;
      float: none;
      display: inline-block; }
      .home-banner #countdown .flip li {
        line-height: 40px; }
        .home-banner #countdown .flip li .up:after {
          height: 1px; }
        .home-banner #countdown .flip li .inn {
          font-size: 20px; }
    .home-banner #countdown .flip-clock-divider {
      float: none;
      display: inline-block;
      height: 40px;
      margin: 2px; }
      .home-banner #countdown .flip-clock-divider .flip-clock-label {
        left: calc(100% + 15px);
        right: auto; }
      .home-banner #countdown .flip-clock-divider .flip-clock-dot {
        width: 5px;
        height: 5px; }
        .home-banner #countdown .flip-clock-divider .flip-clock-dot.top {
          top: 10px; }
        .home-banner #countdown .flip-clock-divider .flip-clock-dot.bottom {
          bottom: 10px; } }

/*** ega-modal ***/
.ega-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9999;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .ega-modal.show {
    opacity: 1;
    z-index: 9999999; }
  .ega-modal__content {
    background-color: #fff;
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 1.75rem auto;
    border-radius: .2rem;
    padding: 1rem;
    z-index: 1; }
    @media (max-width: 767px) {
      .ega-modal__content {
        padding: 0; } }
  .ega-modal__close {
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -12px;
    top: -12px;
    text-align: center;
    line-height: 25px;
    background-color: #444;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer; }
  .ega-modal__body {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    text-align: right;
    padding: 20px 10px; }
    @media (max-width: 767px) {
      .ega-modal__body {
        font-size: 14px; } }

.toast .ega-modal__content {
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out; }

.toast.right .ega-modal__content {
  right: 10px;
  left: auto; }

.toast.top .ega-modal__content {
  top: 10px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.toast.bottom .ega-modal__content {
  bottom: 10px;
  top: auto;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.ega-modal.toast.right .ega-modal__close {
  left: auto;
  right: -9px;
  top: -12px; }

.ega-modal.toast.right .ega-modal__content {
  transform: translateX(200px);
  top: 20px; }

.ega-modal.show.toast .ega-modal__content {
  transform: translateX(0px);
  box-shadow: 0px 7px 36px rgba(16, 42, 67, 0.15);
  border-radius: 6px;
  min-width: 300px; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive.embed-responsive-1by1 img {
  --image-scale: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--image-scale));
  object-fit: contain;
  max-width: 100%;
  max-height: 100%; }
